<ion-view view-title="Boosts">
  <ion-content style="background: #F6F6F6;text-align:center">
    <div>
      <a class="item item-avatar" href="#">
        <img ng-src="{{user.avatar}}">
        <h2>{{user.name}}</h2>
        <p>{{user.theme}}</p>
      </a>
    </div>
    <div style="padding:5px 20px;margin-top:30px">
      <div class="list boost-template"  ng-repeat="template in templates" style="background-color: {{template.color}};border-radius: 5px;text-align:center" ng-click="sendBoot(template.content)">
        <div style="padding:20px;font-size: 1.5em;">
          {{template.content}}
        </div>

      </div>
    </div>
    <button ng-show="!show" class="button button-positive" style="border-radius:15px;margin-top:15px" ng-click="show=!show">send custom message</button>
    <div ng-show="show" style="margin-top:10px">
      <div>
        <input type="text" ng-model="custom.boostMsg" style="margin: 0 auto; border: 1px solid black; text-align: center; width:70%" placeholder="Your Boost">
      </div>
        <button class="button button-positive" style="border-radius:15px; margin-top:15px;" ng-click="send();show=!show">send</button>
    </div>
  </ion-content>
</ion-view>


